.loading-div {
    background-color: rgb(255, 0, 0);
    animation: loading 3s linear infinite;
  }
  
@keyframes loading {
0% {
    background-color: rgb(190, 153, 153);
}
25% {
    background-color: rgb(255, 251, 0);
}
50% {
    background-color: rgb(198, 22, 145);
}
75% {
    background-color: rgb(150, 248, 23);
}
100% {
    background-color: rgb(245, 0, 0);
}
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 'auto';
  }